[Unit]
Description=Systemd service for starting the mage hand firmware
Requires=pigpiod.service
After=pigpiod.service

[Service]
User=magehand
ExecStart=/home/magehand/MageHand/MageHand/Firmware/run.sh
WorkingDirectory=/home/magehand/MageHand/MageHand/Firmware

[Install]
WantedBy=multi-user.target
